<h1>Teller View</h1>
<div class="main">
  <section class="display">
    <!-- Display: Customer information except for when inquiring about transaction -->
    <h1>Customer Information</h1>
    <p> <strong> Customer Name:</strong> <br> {{firstName}} {{lastName}}</p>
    <p> <strong> Age: </strong> <br> {{age}}</p>
    <p><strong>Address:</strong> <br> {{address.street}}<br>
      {{address.city}}, {{address.state}} {{address.zip}}<br>
      {{address.country}}
    </p>
    <br><br>
    <!-- Display: if inquiring about transactions -->
    <h3>Last 3 Transactions</h3>
    
      <div class="listItem" *ngFor="let transactions of (_bankService.account.transactions | slice:_bankService.account.transactions.length - 3)">
        <p>[{{transactions.date}}] - {{transactions.type}} (${{transactions.amount}})</p> 
        <!-- FINAL BALANCE: ${{transactions.finalValue}} -->
      </div>

  </section>
  <aside class="options">
    <section class="balance">
      <!-- Display customer balance -->
     <h1> Balance: ${{balance}} {{currencyType}} </h1> 
    </section>
    <!-- Add functionality to the buttons below -->
    <ul class="options-list">
      <li class="options-item">
        <button>Widthdrawl for Customer</button>
      </li>
      <li class="options-item">
        <button>Deposit for Customer</button>
      </li>
      <li class="options-item">
        <button>Customer Transaction History</button>
      </li>
    </ul>
  </aside>
</div>
