
.main {
  display: flex;
  flex-flow: row nowrap;
}

.display {
  flex-basis: 100vw;
  background-color: rgb(31, 52, 100);
  color: white;
}

.options {
  flex-basis: 50vw;
}

.options-list {
  list-style: none;
}
.listItem {
  padding-bottom: 20px;
}
li {
  list-style-type: none;
}
button {
  width: 200px;
  height: 30px;
}
button:hover {
  opacity: 0.6;
}
input {
  margin-right: -40px;
  width: 195px;
}