<h1>ATM View</h1>
<div class="main">
  <section class="display">
    > Welcome, Henry!
    <!-- Display Feedback information here -->
    <h3 *ngIf="balanceClicked == true" class="balance">Current Balance: ${{currentBalance}}</h3>
    
    <ul *ngIf="transactionsClicked == true" class="transactions">
      <li class="listItem" *ngFor="let transactions of _bankService.account.transactions"> TRANSACTION DATE: {{transactions.date}} 
        <br>
        TYPE: {{transactions.type}}
        <br>
        TRANSACTION AMOUNT: ${{transactions.amount}} 
        <br>
        FINAL BALANCE: ${{transactions.finalValue}}
      </li>
    </ul>
  </section>
  <aside class="options">
    <!-- Add functionality to the buttons below -->
    
    <input [(ngModel)]="value" type="number">
    <ul class="options-list">
      <li class="options-item">
        <button (click)="withdraw()">Make a Withdrawl</button>
      </li>
      <li class="options-item">
        <button (click)="deposit()">Deposit Money</button>
      </li>
      <li class="options-item">
        <button (click)="balanceCheck()">Balance Inquiry</button>
      </li>
      <li class="options-item">
        <button (click)="transactions()">Transactions History</button>
      </li>
    </ul>
  </aside>
</div>
