<section class="main">
  <div class="bankInfo">
    <h4> Address: </h4>
    <p>5363 Main St.</p>
  </div>
  <div class="formBox">
    <ul>
      Name:
      <li>
        <input class="options-item" type="text">
      </li>
      Email:
      <li>
        <input class="options-item" type="text">
      </li>
      Message:
      <li>  
        <textarea class="options-item" type="text"></textarea> 
      </li>
      <li>
        <br>
      <button class="submit">Submit</button>
      </li>
    </ul>
  </div>
</section>